@page "/loginregister"
@using DatingApp.Client.Shared.Components

<MainLayout>
    <div class="login-register-container">
        <div class="login-section">
            <h2>Login</h2>
            <Login />
        </div>
        <div class="register-section">
            <h2>Register</h2>
            <Register />
        </div>
    </div>
</MainLayout>

<style>
.login-register-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.login-section, .register-section {
    width: 45%;
}
</style>
