/// <summary>
/// Renders a footer component with copyright information, contact details, and social media links.
/// </summary>
<MudContainer MaxWidth="MaxWidth.Large">
    <MudGrid>
        <MudItem xs="12" md="4">
            <MudText Typo="Typo.subtitle2">© 2024 Dating App</MudText>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudText Typo="Typo.subtitle2">Contact: support@datingapp.com</MudText>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudText Typo="Typo.subtitle2">
                <a href="https://facebook.com">Facebook</a> |
                <a href="https://twitter.com">Twitter</a> |
                <a href="https://instagram.com">Instagram</a>
            </MudText>
        </MudItem>
    </MudGrid>
</MudContainer>